body {
    background-color: darkkhaki;
}

.blog-container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 1vw;
}

.posts-container {
    display: flex;
    flex-direction: column;
}

.post {
    border: 2px solid maroon;
    padding: 1vw;
    margin-bottom: 0.5vw;
}

.add-post-container {
    margin-top: 1vw;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1vw;
    padding: 0.5vw;
}

button {
    margin-bottom: 1vw;
    font-size: 14px;
    padding: 0.5vw;
}
